

<%= form_with(model: @post) do |form| %>
  <div>
    <div class="w-4/5 mx-auto">
      <!-- ... -->


      <div class="flex flex-col font-source-serif-pro bg-white rounded p-4 w-full">
        <div class="text-center">
          <!-- Course Code Drop-Down -->
          <p class="mb-2">Course Code:</p>
          <%= form.select :course_temp, options_for_select(['CSCE 600','CSCE 601','CSCE 602','CSCE 603','CSCE 604','CSCE 605','CSCE 606','CSCE 608','CSCE 610', 'CHEM 623', 'MATH 670', 'ENGR 600','ENGR 677','ENGR 681','ENGR 684','ENGR 685','ENGR 689','ENGR 698','ENGR 600','ENGR 600','ENGR 600',]), {}, class: "mb-2 rounded bg-gray-100 border-gray-300 w-3/4" %>

          <!-- Section Input -->
          <p class="mb-2">Section:</p>
          <%= form.text_field :section_temp, pattern: '\b(?\d{3})\b', placeholder: "###", class: "mb-2 rounded bg-gray-100 border-gray-300 w-3/4" %>

          <!-- Semester Input -->
          <p class="mb-2">Semester:</p>
          <%= form.text_field :semester_temp, pattern: '\b(Fall|Spring)V(?\d{4})\b', placeholder: "Fall/Spring 20XX", class: "mb-2 rounded bg-gray-100 border-gray-300 w-3/4" %>
        </div>
        <br>

        <div class="col">
          <div class="text-center">
            <!-- Implement dropzone for submitting zip files -->
            <%= form.file_field :file, accept: '.zip', multiple: false, class: "dropzone" %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center mx-auto my-3 ">
      <!-- On submit, send the user back to the index page -->
      <%= form.submit "Save", class: "bg-[#DBABAB] hover:cursor-pointer font-source-serif-pro font-semibold hover:bg-[#ca8484] text-[#500000] text-[1rem] container w-auto hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]" %>
      <br>
    </div>
  </div>
<% end %>



